<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
    
</head>

<body>
    
    <%- include('../partials/navbar_admin.ejs') %>
    <div class="container">

        <%- include('../partials/left-sidebar.ejs') %>


         <!-- main-content -->
        <main class="main-content">

            <%- body %>
        </main>
        
        <%- include('../partials/right-sidebar.ejs') %>

    </div>

</body>

</html>